<mat-card class="control-panel-card">
    <div class="header">
        <h2>Control Panel</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="container">
        <div class="content">
            <form [formGroup]="form">
                @for (field of fields; track field) {
                    @if (field.type == "text" && (field.title != "targetName" && field.title != "observationObject" && field.title != "prefEmail")){
                        <mat-form-field appearance="outline" style="width: 100%;"
                        [class.invalid]="field.validators.length >= 1 && form.get(field.title)?.invalid">
                            <mat-label>{{field.alias}}</mat-label>
                            <input matInput type="number" [formControlName]="field.title" [placeholder]="field?.placeholder!" autocomplete="off">
                        </mat-form-field>
                        <p></p>
                    }
                    @if (field.title == "targetName" || field.title == "observationObject" || field.title == "prefEmail"){
                        <mat-form-field appearance="outline" style="width: 100%;"
                        [class.invalid]="field.validators.length >= 1 && form.get(field.title)?.invalid">
                            <mat-label>{{field.alias}}</mat-label>
                            @if(field.title != "prefEmail"){
                                <input matInput [formControlName]="field.title" [placeholder]="field?.placeholder!" autocomplete="off">
                            } @else {
                                <input matInput type="email" [formControlName]="field.title" [placeholder]="field?.placeholder!" autocomplete="off">
                            }
                        </mat-form-field>
                        <p></p>
                    }
                    @if (field.type == "select"){
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>{{field.alias}}</mat-label>
                            <mat-select [formControlName]="field.title">
                                @for (value of field.values; track value){
                                    <mat-option [value]="value">
                                        {{formatSelectLabel(field.title, value)}}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                }
            </form>
        </div>
    </div>
    <mat-divider style="padding-block: 0.5vh;"></mat-divider>
    <div class="footer">
        <button class="primary-button" style="width: 100%;" (click)="run()" [disabled]="form.invalid"
            mat-raised-button>
            Submit Observation
        </button>
    </div>
</mat-card>
