<mat-card class="control-panel-card">
    <div class="header">
        <h2>Control Panel</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="container">
        <div class="content">
            <form [formGroup]="form">
                @for (field of fields; track field) {
                    @if (field.type == "text"){
                        <mat-form-field appearance="outline" style="width: 100%;"
                        [class.invalid]="field.validators.length >= 1 && !form.get(field.title)">
                            <mat-label>{{field.alias}}</mat-label>
                            <input matInput [formControlName]="field.title" [placeholder]="field?.placeholder!" autocomplete="off">
                        </mat-form-field>
                        <p></p>
                    }
                    @if (field.type == "select"){
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>{{field.alias}}</mat-label>
                            <mat-select>
                                @for (value of field.values; track value){
                                    <mat-option [value]="value">
                                        {{value}}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                }
            </form>
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="footer">
        <button class="primary-button" style="width: 100%;" (click)="run()" [disabled]="form.invalid"
            mat-raised-button>
            Submit Observation
        </button>
        <p></p>
        <!-- <button class="warn-button" style="width: 100%;" (click)="openCancelDialog()" [disabled]="!running" mat-raised-button>
            Cancel Observation
        </button> -->
    </div>
</mat-card>
