.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 1rem;
}

.login-card {
    margin: auto;
    width: 600px;
    max-width: 100%;
    padding: 15px;
}