.home {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;

    .control-panel {
        height: 100%;
        padding: 1rem 0rem 1rem 0rem;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .observation-history {
        height: 100%;
        padding: 1rem 0rem 1rem 1rem;
        box-sizing: border-box;
        overflow-y: auto;
    }

}
